# Test binary, built with `go test -c`
*.test
*.tmp
*tmp

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log

# IDE files
.vscode
.DS_Store
.idea

# Misc
*.fiber.gz
*.fasthttp.gz
*.pprof
*.workspace

# Environment
.env